html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000e0e;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  height: 100%;
  overflow-x: hidden;
}
main {
  scroll-snap-type: y mandatory;
}
.__landing {
  background: url(/media/images/9ac67ab0-0001-0004-0000-000001146203_w1200_r1.33_fpx28.69_fpy55.01.jpg)
    no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
.__landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(60%);
}
.__landing-container > h1 {
  font-size: 4rem;
}
.__landing-container > h2 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #b8b7b7;
}
.__landing-container > p {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 3vh;
  color: #888888;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10000000001;
  width: 100%;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-links-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
.nav-link a {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}

.nav-link-highligth {
  background: #000e0e;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link-highligth img {
  height: 1.25rem;
  place-self: center;
  margin-right: 0.4rem;
}

#founding {
  height: 100vh;
  position: relative;
   overflow-x: hidden;
}

.__founding-container > * {
  position: absolute;
  top: 0;
  border: solid red 1px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 4.25rem;
  height: 100vh;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.__founding-container > * > h3,
.__founding-container > * > founding-card-title {
  z-index: 100;
}
._founding-card1 {
  left: 0;
  background: url(./media/images/11085_Romulus_und_Remus1.svg) center/ cover
    no-repeat;
  background-size: cover;

}
._founding-card2 {
  left: 50%;
  background: url(./media/images/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg)
    center/cover no-repeat;
}
.darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(50%);
}
@media screen and (max-width: 1560px) {
  .__founding-container > * {
    width: 100vw;
    height: 50%;
  }
  ._founding-card2 {
    top: 50%;
    left: auto;
  }
}
.card-button {
  z-index: 100;
  padding: .5rem 2rem;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  background: #34343470;
  backdrop-filter: blur(2px);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: solid .25rem white;
}

._founding-card1.active{
  width: 100%;
  z-index: 1001;
}
._founding-card1.active > .card-button{
  display: none;
}

._founding-card1:not(.active) .card1-content{
  display: none;
}
._founding-card1.active .card1-content{
  
}

._founding-card2.active{
  width: 100%;
  left: 0;
  z-index: 1001;
}
._founding-card2.active > .card-button{
  display: none;
}
._founding-card2:not(.active) .card2-content{
  display: none;
}


